/* Debug */
nav, article, footer, header {
    border: solid red;
}

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #cfcfcf;  

    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    position: relative;
}


article {
padding: 0px;
float: right;
height: 90%;

}


header {
    
    text-align: center;
    height:9%;
 

}


footer {
    text-align: center;
    padding-bottom: 1%;
    
}

/* Blokkenlayout */

nav {
    float:left;
    width: 200px;
}

article {
    float:left;
    width:calc(100% - 248px); /* 100% minus nav */
}

footer {
    clear:both;

}
/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}

/* Dropdown Button */
.dropbtn {
    background-color: #aa0404;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    float: left;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #aa0404;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #9b2a2a;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
 
  .dropdown:hover .dropbtn {background-color: #9b2a2a;}

.Cars{
color: #aa0404;
}

.KDFP{
    width: 900px;
}

#olas{
    height: 300px;
    float: right;
    margin: 10px;
    border: groove;
    border-color:red;
    border-width: 5px;
}

#dagang{
    height: 300px;
    float: right;
    margin: 10px;
    border: groove;
    border-color:red;
    border-width: 5px;

}

.headerimg{
    height: 77px;
    position: absolute;
    top: 0%;
    width: 90%;
    left: 3%;
}

.Cars{
    position: absolute;
}