/* Debug */

/* handige instelling */

/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    background-image: url("afbeeldingen/lmao.jpeg");
}


main {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    position: relative;
    

}

header {
    
    text-align: center;
    height:9%;
    background-image: url("afbeeldingen/lightning mc.jpeg");
    background-position: 0%;
    padding: 1%;

}

footer {
    text-align: center;
    padding-bottom: 1%;
    
}

/* Blokkenlayout */

nav {
    float:right;
    width: 15.9%;
  
}

article {
    float: right;
    width:calc(100% - 248px); /* 100% minus nav */
    height: 90%;
    background-color: rgba(150,11,11,70%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;

}

footer {
    clear:both;

}
/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Cars{
color: #ffffff;
}

.KDFP{
    width: 900px;
}

.fotosvancars{
    height: 300px;
    float: right;
    margin: 10px;
    border: groove;
    border-color:red;
    border-width: 10px;
    margin-right: 20px;
}

.headerimg{
    height: 77px;
    position: absolute;
    top: 0%;
    width: 90%;
    left: 3%;
}

.Cars{
    background-color: #9b2a2a;
    padding: 3px;
}

.maintext{
    padding: 10px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav li a:hover {
    background-color: #aaaaaa;
    transition: 0.5s;
}
nav li a {
    background-color: rgba(255,0,0,50%);
}
nav li a.active {
    background-color: skyblue;
}

.video{
    padding:10px

}

.lifeisahighway{
padding: 10px;

}
